@model PersonalLibraryManager.Models.IndexViewModel
@{
    ViewBag.Title = "My Profile";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div class="row">
        <div class="col-md-8">
            <section id="profileInfo">
                <h4>Profile Information</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>Full Name:</dt>
                    <dd>@Model.FullName</dd>

                    <dt>Email:</dt>
                    <dd>@Model.Email</dd>

                    <dt>Member Since:</dt>
                    <dd>@Model.DateRegistered.ToString("MMMM dd, yyyy")</dd>
                </dl>
            </section>

            <section id="libraryStats">
                <h4>Library Statistics</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>Total Books:</dt>
                    <dd>@Model.TotalBooks</dd>

                    <dt>Books Completed:</dt>
                    <dd>@Model.BooksCompleted</dd>

                    <dt>Reading Progress:</dt>
                    <dd>
                        @if (Model.TotalBooks > 0)
                        {
                            var percentage = (Model.BooksCompleted * 100) / Model.TotalBooks;
                            <text>@percentage%</text>
                        }
                        else
                        {
                            <text>No books added yet</text>
                        }
                    </dd>
                </dl>
            </section>

            <section id="security">
                <h4>Security</h4>
                <hr />
                <p>@Html.ActionLink("Change Password", "ChangePassword", null, new { @class = "btn btn-default" })</p>
            </section>
        </div>

        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Quick Actions</h3>
                </div>
                <div class="panel-body">
                    <p>@Html.ActionLink("Add New Book", "Create", "Books", null, new { @class = "btn btn-primary btn-block" })</p>
                    <p>@Html.ActionLink("View My Library", "Index", "Books", null, new { @class = "btn btn-success btn-block" })</p>
                </div>
            </div>
        </div>
    </div>
</main>