@using Microsoft.AspNet.Identity
@using PersonalLibraryManager.Models

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right d-flex align-items-center" }))
    {
        @Html.AntiForgeryToken()

        
            var db = new ApplicationDbContext();
            var userId = User.Identity.GetUserId();
            var user = db.Users.Find(userId);
            var displayName = user != null ? user.FullName : User.Identity.GetUserName();
        

<ul class="navbar-nav ms-auto">
    <li>@Html.ActionLink("Dashboard", "Dashboard", "Books")</li>
    <li class="nav-item">
        @Html.ActionLink("My Library", "Index", "Books", null, new { @class = "nav-link" })
    </li>
    <li class="nav-item">
        @Html.ActionLink(@displayName, "Index", "Manage", null, new { @class = "nav-link" })
    </li>

    <li class="nav-item">
        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link text-danger">
            Log off
        </a>
    </li>
</ul>
    }
}
else
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Log in", "Login", "Account", null, new { @class = "nav-link" })
        </li>
    </ul>
}
